<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jouryu.mapper.SimulatorMapper">
    <resultMap id="SimulatorMap" type="com.jouryu.model.Simulator">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="flow" jdbcType="DOUBLE" property="flow"/>
        <result column="ph" jdbcType="DOUBLE" property="ph"/>
        <result column="do" jdbcType="DOUBLE" property="dog"/>
        <result column="codmn" jdbcType="DOUBLE" property="codmn"/>
        <result column="nh3h" jdbcType="DOUBLE" property="nh3h"/>
    </resultMap>

    <select id="getSimulator" resultMap="SimulatorMap">
        SELECT a.id,a.ph,a.do,a.codmn,a.nh3h,b.flow FROM water_quality a INNER JOIN water_flow b ON a.id=b.id
    </select>
</mapper>